.container {
  width: 210px;
  padding: 20px;
  border-radius: 5px;
  overflow-wrap: anywhere;
}

.container:hover {
  box-shadow: 0px 0px 15px 5px rgb(164, 164, 164);
}

.container > img[data-loaded="true"] {
  width: 200px;
  height: 200px;
  top: 0;
}

.container > div[id="placeholder"] {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 200px;
  height: 200px;
  background-color: lightgrey;
}

.container > img:hover {
  cursor: pointer;
}

.container > :nth-child(2) > div {
  color: grey;
}

.container > :nth-child(2) {
  display: grid;
}
