.container {
  background: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png");
  margin-top: 30px;
  padding: 20px 0;
  border-radius: 10px;
  color: white;
}

.container > :first-child {
  margin-left: 30px;
}

.container > :last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container > :last-child > * {
  display: grid;
  justify-items: center;
}

.container > :last-child > * img {
  border-radius: 110px;
  border: 5px solid white;
  background: #616161;
  margin: 20px 0;
}

.container > :last-child > * > :nth-child(2) {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.container > :last-child > * > :nth-child(2) > :first-child {
  color: lightgrey;
}
.container > :last-child > * > :nth-child(2) > :last-child {
  color: white;
}
