.container {
  display: grid;
  row-gap: 50px;
}

.container > :last-child {
  display: flex;
  flex-wrap: wrap;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 100%;
  padding: 30px 10px;
  justify-content: space-around;
}

.container > :last-child > * {
  display: grid;
  max-width: 35%;
  width: 100%;
  padding: 10px 0;
  align-content: flex-start;
}

.container span {
  font-size: 125%;
  margin-top: 10px;
  color: black;
  font-weight: normal;
}
