.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  width: 100%;
  padding: 20px 0;
  background: #cc0000;
  min-width: 60%;
}

.container > img {
  position: absolute;
  left: 15px;
  top: 15px;
  max-width: 200px;
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 800px) {
  .container > img {
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .container > :nth-child(2) {
    width: 90%;
    margin: 40px auto 0 auto;
  }

  .arrow {
    width: 10px;
    height: 10px;
    border-right: 2px white solid;
    border-bottom: 2px white solid;
  }

  .arrow:before {
    width: 5px;
    height: 5px;
    margin: -3px 0 0 2px;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
  }

  .container > :nth-child(2) > :last-child {
    margin-top: 10px;
  }

  .container > :last-child {
    position: absolute;
    top: 15px;
    right: 5vw;
  }
}

@media screen and (min-width: 801px) {
  .container > img {
    top: 12px;
  }

  .container > :nth-child(2) {
    width: 45%;
    margin: 15px auto 0 auto;
  }

  .arrow {
    width: 20px;
    height: 20px;
    border-right: 3px white solid;
    border-bottom: 3px white solid;
  }

  .arrow:before {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 5px;
    border-right: 2px white solid;
    border-bottom: 2px white solid;
  }

  .container > :nth-child(2) > :last-child {
    margin-top: 20px;
  }

  .container > :last-child {
    position: absolute;
    right: 15px;
    top: 35px;
  }
}

.container > img:hover {
  cursor: pointer;
}

div.open {
  visibility: visible;
  max-height: 500px;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.drawer {
  display: grid;
  justify-content: center;
  overflow: hidden;
  align-content: center;
}

.close {
  visibility: collapse;
  opacity: 0;
  max-height: 0;
  transition: all 0.5s ease-out;
}
.arrow {
  margin: 0 auto;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  transition: transform 0.5s;
}

.arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  border-left: none;
  border-top: none;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

.arrow:hover {
  cursor: pointer;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition: transform 0.5s;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-5px, -5px);
  }
}
