.container > :only-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 10px;
  border-radius: 2px;
  border: 1px solid rgb(118, 118, 118);
  background: white;
  height: 35px;
}

.container img {
  height: 20px;
}

.container input {
  border: none;
  width: 90%;
  height: 100%;
  outline: none;
}

.container input::placeholder {
  font-size: min(11px, 1.5vh);
}
