.container {
  height: 100vh;
  width: 100%;
}

.container > :only-child {
  position: absolute;
  top: 60%;
  left: 50%;
  text-align: center;
  display: grid;
  justify-items: center;
  transform: translate(-50%, -55%);
}

.container > :only-child > :last-child {
  margin-top: 50px;
}
