.container {
  height: 100vh;
  width: 100%;
}

.container > :only-child {
  position: relative;
  text-align: center;
  display: grid;
  justify-items: center;
  top: 40vh;
  transform: translateY(-50%);
}

.container > :only-child > :last-child {
  margin-top: 50px;
}

.container img {
  height: 200px;
}
