.container {
  display: grid;
  justify-content: center;
  justify-items: center;
  row-gap: 15px;
}

.container > :first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > :first-child > :last-child {
  height: 35px;
}
