.container > :nth-child(2) {
  text-align: center;
}

.container > :nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container img {
  width: 100%;
}

.container > :nth-child(3) > * {
  display: grid;
  width: 100%;
  max-width: 45%;
  min-width: 350px;
  align-content: space-evenly;
}
