.container {
  display: grid;
  background: rgba(236, 236, 236);
  width: 100%;
}

.container > :only-child {
  max-width: 1000px;
  width: 90%;
  min-width: 360px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}
