@font-face {
  font-family: "PixelPokemonFont";
  src: local("PixelPokemonFont"), url(./assets/fonts/pixelPokemonFont.ttf) format("truetype");
}

@font-face {
  font-family: "HdPokemonFont";
  src: local("HdPokemonFont"), url(./assets/fonts/hdPokemonFont.woff) format("woff");
}

@font-face {
  font-family: "HdPokemonFont";
  src: local("HdPokemonFont-bold"), url(./assets/fonts/hdPokemonFont-bold.woff) format("woff");
  font-weight: bold;
}

.container {
  min-height: 100vh;
  padding-bottom: 20px;
  transition: all 1s ease;
}

[id="loading-screen"],
[id="error-screen"] {
  background: rgba(236, 236, 236);
}

[data-resolution="low res."] * {
  font-family: PixelPokemonFont;
}

[data-resolution="low res."] [id="id"] {
  font-size: 13px;
}

[data-resolution="low res."] [id="type"] {
  font-size: 10px;
}

[data-resolution="low res."] input::placeholder {
  font-size: min(11px, 1.5vh);
}
[data-resolution="low res."] h4 {
  font-size: 13px;
}

[data-resolution="low res."] [id="res switch"] {
  font-size: 11px;
}

[data-resolution="high res."] * {
  font-family: HdPokemonFont, arial, sans-serif;
}

[data-resolution="high res."] h4 {
  font-size: 20px;
}

[data-resolution="high res."] h3 {
  font-size: 25px;
}

[data-resolution="high res."] h2 {
  font-size: 30px;
}

[data-resolution="high res."] [id="id"] {
  font-size: 16px;
  font-weight: bolder;
}

[data-resolution="high res."] [id="type"] {
  font-size: 15px;
}

[data-resolution="high res."] [id="info"] {
  font-size: 100%;
}

[data-resolution="high res."] input::placeholder {
  font-size: min(15px, 2vh);
}

[data-resolution="high res."] [id="res switch"] {
  font-size: 17px;
}

.container[data-theme="light"] {
  background: rgba(236, 236, 236);
}

.container[data-theme="dark"],
.container[data-theme="dark"] [id="loading-screen"],
.container[data-theme="dark"] [id="error-screen"] {
  background: rgba(40, 40, 40);
  color: white;
}

.container[data-theme="dark"] [id="type"] {
  color: white;
}

.container[data-theme="dark"] [id="id"],
.container[data-theme="dark"] [id="id-details"] {
  color: #cc0000;
}

.container[data-theme="dark"] [id="id-nav-button"] {
  border: 3px solid #ffde00;
  background: #3b4cca;
  color: #ffde00;
}
