@font-face {
  font-family: "PokemonFont";
  src: local("PokemonFont"), url(./assets/fonts/pokemonFont.ttf) format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: PokemonFont;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
