@font-face {
  font-family: "PokemonFont";
  src: local("PokemonFont"), url(./assets/fonts/pokemonFont.ttf) format("truetype");
}

[id="type"] {
  font-size: 11px;
}

* {
  font-family: PokemonFont;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
