.container > * {
  min-width: 100%;
}

.container > :last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container > :last-child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
