.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 5px 40px 5px;
  align-content: flex-start;
  width: 320px;
  text-align: center;
}

.container > :last-child {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 0;
  overflow: hidden;
}

.container > input {
  display: none;
}

.container > input:checked + div {
  height: 100%;
}

.container > label {
  max-height: 40px;
  width: 100%;
  border: 3px solid;
  padding: 10px;
  border-radius: 10px;
}
